---
const { title, description, url, socialImage, twitterImage, author } =
  Astro.props;
let subtitle = "Product Designer based in San Francisco";
const fullTitle = `${title} - ${subtitle}`;
---
<!--
    Standard meta
 -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="theme-color" content="#fafafa" />
<meta name="author" content={author} />
<meta name="description" content={description} />
<meta name="keywords" content="product design, UX, UI, San Francisco" />

<!--
    Open Graph / Facebook
 -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={Astro.site ? `${Astro.site}${socialImage}` : socialImage} />
<meta property="og:site_name" content={title} />

<!--
    Twitter
 -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={url} />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={Astro.site ? `${Astro.site}${twitterImage}` : twitterImage} />
<meta name="twitter:creator" content="@[your_twitter_handle]" />

<!--
    Canonical URL
 -->
<link rel="canonical" href={url} />

<title>{fullTitle}</title>
