---
const { url, title, description, pubDate, author, image, alt } = Astro.props;
---

<li>
  <article class="flex flex-col items-start">
    <a href={url} title={title} class="group w-full">
      <div class="flex flex-col items-start justify-between flex-1 w-full">
        <footer>
          <div class="inline-flex space-x-1 items-center">
            <p class="text-xs font-medium text-kotei-800">
              {author}
            </p>
            <span aria-hidden="true">&middot;</span>
            <div class="flex text-xs text-neutral-500">
              <time datetime="2020-03-16"> {pubDate}</time>
            </div>
          </div>
        </footer>
        <div class="w-full mt-4">
          <div>
            <p class="font-medium text-kotei-800 uppercase">{title}</p>
          </div>
        </div>
        <img src={image} alt={alt} class="w-full h-48 object-cover rounded-lg my-4" />
        <p class="mt-2 text-sm text-neutral-500 line-clamp-2">
          {description}
        </p>
      </div>
    </a>
  </article>
</li>
