---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo title={frontmatter.title} description={frontmatter.description} canonical="https://www.lexingtonthemes.com" openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Title}",
    description: "{frontmatter.description}",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }} twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }} />
<BaseLayout>
  <section class="   bg-neutral-100">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8 py-20">
      <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
        <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto">
          <h1 class="font-display uppercase text-5xl tracking-tighter font-medium text-kotei-800">
            {frontmatter.title}
          </h1>
          <div class="prose-styles mt-4">
            <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>


            <p><em>{frontmatter.description}</em></p>
            <p>Written by: {frontmatter.author}</p>
            <div class="flex flex-wrap gap-3 mt-12 not-prose">
              {
              frontmatter.tags.map((tag) => (
              <span class="text-neutral-500 text-xs hover:text-kotei-800">
                <a href={`/tags/${tag}`}>{tag} </a> </span> )) } </div> <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
                <slot />
            </div>
          </div>
        </div>
      </div>
  </section>

</BaseLayout>
